body {
  margin: 0;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    hsl(334, 65%, 81%) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  font-family: "Monaco", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Monaco", monospace;
}
